* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: medium;
  font-family: monospace;
}

label,
input,
button {
  padding: 1rem;
  margin: 1rem;
}
.footer {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 0;
}
